{% extends 'basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}

{% load static %}



    <div style="height: 600px;">
        <img src="{% static 'BabyLoveCenter.PNG' %}" class="d-block w-100 img-fluid p-5" style="height: 600px;" alt="...">
    </div>
    <div class="p-5">
        <h1 class="pb-4 mb-4 font-italic border-bottom">
            <u>Baby Love Center</u>
        </h1>
        <div class="blog-post">
            <h2 class="blog-post-title">Starting Date</h2>
            <p class="blog-post-meta">January 1, 2018 by <a href="#">Deepak Sharmak</a></p>

            <p>We are serving the best of the best Quality Products for your little star. Maybe You are not connecting
                us before, but please give us at least one chance to make your newborn happy. We are promise that we
                don't Embarass you, and you also feels so happy to connecting with us.</p>
            <hr>
            <blockquote>
                <p><b>Our Quote: </b>Of all the toys available, none is better designed than the owner himself. A large
                    multipurpose plaything, its parts can be made to move in almost any direction. It comes completely
                    assemble.</p>
            </blockquote><br>

            <h2>Contact Us</h2>
            <p>At "Baby Love Center" we always welcome your feedback and comments and take them on board as we develop
                our family of "Baby Love Center". Our Consumer Engagement Team is available to answer your queries or
                concerns either by phone or email.</p><br>
            <h3>Contact Us By Phone</h3>
            <p>Our team of service staff are available to take your calls between the hours of 10AM – 4PM Indian Time,
                Monday to Friday.


                At times you may experience a short delay in being connected to one of our team. This is usually because
                our team members are spending the time required to provide a high quality service to another parent or
                we may be experiencing an increased number of incoming calls. Your feedback is very important to us and
                we appreciate your patience.<br>

                We would like to thank you for taking the time to contact us with your compliments or your concerns.</p>
            <br><br>
            <h3>Other Contact Options</h3><br>
            <h4>Reach us by phone: <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z" />
                </svg> +917078245502</h4>
            <h4>WhatsApp: <i class="fa fa-whatsapp"></i> +917078245502</h4>


            <h4>Follow Us on Facebook: <i class="fa fa-facebook-official"></i> <a
                    href="https://www.facebook.com/babylovecenter/?modal=composer&notif_id=1604570653839144&notif_t=aymt_biz_growth_gain_fan_upsell_tip&ref=notif">
                    facebook</a></h4>
            <h4>Mail Us: <i class="fa fa-google" aria-hidden="true"></i><a href="https://www.hishrma00@gmail.com"> Mail
                    Us</a></h4>
        </div>
    </div>




{% endblock %}
